:root {
    --white-color: #ffffff;
    --main-color: #42A7C2;
    --primary-text-color: #333333;
    --icon-color: #7B7B7B;
    --box-color: #EAF1F7;

    --ff-main: 'Noto Sans JP', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-26: 26px;

    --max-w: 1920px;
}

/* Reset CSS */

/* Box-sizing border-box cho tất cả các phần tử */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Loại bỏ đường viền cho các phần tử */
button, input, select, textarea {
  border: none;
  background: none;
}

/* Thiết lập font chung và kích thước chữ mặc định */
body {
  font-family: var(--ff-main);
}

/* Loại bỏ định dạng mặc định của danh sách và đường gạch chân của liên kết */
ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Thêm thuộc tính cursor pointer cho các phần tử có thể tương tác */
a, button {
  cursor: pointer;
}



